
body {
    font: 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.page-header{
    color: #0f0f0f;
}

.panel-footer{
    background-color: lightskyblue;
    border: dashed;
}
