<div class="col-sm-9">
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="base-images">
      <img ng-src="{{mainImageUrl}}" class="img-rounded">
    </div>
    <ul class="base-thumbs list-unstyled">
      <li ng-repeat="img in base.images">
        <img ng-src="{{img}}" ng-click="setImage(img)" class="img-rounded">
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1>{{base.name}}</h1>
    <p>{{base.description}}</p>
    <hr>
    <ul class="specs list-unstyled">
      <li>
        <dl>
          <dt>Название базы</dt>
            <dd>{{base.name}}</dd>
          <dt>Виды номеров</dt>
            <dd>{{base.rooms}}</dd>

        </dl>
      </li>
      <li>
        <dt></dt>
        <dd>{{base.roominfo}}</dd>
      </li>
      <li>{{base.contact.name}}
        <br>
        {{base.contact.phone}}</li>
    </ul>
    </div>
  </div>
</div>
</div>